* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  width: 700px;
  margin: 40px;
}

.Main {
  border: 1px solid rgb(229, 233, 237);
  border-radius: 5px;
}

p {
  margin: 15px;
  margin-bottom: ;
}
